<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"
  package="com.app.BananaExpressmobile">
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" tools:node="remove" />
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/> 
  <uses-permission android:name="android.permission.CAMERA" /> 
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE " />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> 
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
   <!-- android:usesCleartextTraffic="true" -->
  <application
    android:label="BananaExpress"
    android:exported="true"
    android:grantUriPermissions="true"
    android:icon="@mipmap/launcher_icon"
    android:networkSecurityConfig="@xml/network_security_config"
 
    android:requestLegacyExternalStorage="true">
      <meta-data android:name="com.google.android.geo.API_KEY"
               android:value="AIzaSyBIUmra3XE_cnCkySOHphv5aUq3xfmXb0w"/>
    <activity
      android:screenOrientation="portrait"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"
      android:name="com.app.BananaExpressmobile.MainActivity"
      android:exported="true"
      android:launchMode="singleTop"
      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
      android:hardwareAccelerated="true"
      android:windowSoftInputMode="adjustResize">

      <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
      <meta-data
        android:name="io.flutter.embedding.android.NormalTheme"
        android:resource="@style/NormalTheme" />

      <!-- Displays an Android View that continues showing the launch screen
                 Drawable until Flutter paints its first frame, then this splash
                 screen fades out. A splash screen is useful to avoid any visual
                 gap between the end of Android's launch screen and the painting of
                 Flutter's first frame. -->
      <meta-data
        android:name="io.flutter.embedding.android.SplashScreenDrawable"
        android:resource="@drawable/launch_background" />

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <!-- App Links -->
      <intent-filter >
        <action android:name="android.intent.action.VIEW" />
        <category
          android:name="android.intent.category.DEFAULT" />
        <category
          android:name="android.intent.category.BROWSABLE" />
        <!-- Accepts URIs that begin with https://YOUR_HOST -->
<!--
FOR PROD :   https://BananaExpress.vercel.app 

FOR DEV  : http://BananaExpress-shop.000webhostapp.com

  -->
        

        
          <data android:scheme="https"   /> 
      </intent-filter>
    </activity>

    <receiver
      android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver"
      android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
      </intent-filter>
    </receiver>

    <receiver android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
   <!--  <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="com.app.BananaExpressmobile.flutter_downloader.provider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/provider_paths" />
    </provider> -->

    <!-- Ne supprimez pas les métadonnées ci-dessous.
             Cela est utilisé par l'outil Flutter pour générer GeneratedPluginRegistrant.java -->
    <meta-data
      android:name="flutterEmbedding"
      android:value="2" />
  </application>
</manifest>
